/* Reset Styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ee4bcba9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.dhc-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.dhc-about-image img {
    width: 50%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* About Content */
.dhc-about-content {
    flex: 1;
    padding: 20px;
    background: #f0eeee;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dhc-about-content h1 {
    color: #570044;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.dhc-about-content h2 {
    color: #570044;
    font-size: 1.8em;
    margin: 20px 0 10px;
}

.dhc-about-content p {
    margin-bottom: 10px;
    color: #555;
}


.dhc-about-section h2 {
    margin-top: 20px;
    font-size: 1.8em;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .about-image img {
        max-width: 100%;
    }
}
