

body {
    margin-top: 80px; 
    font-family: 'Poppins', sans-serif;
    background-color:  #ffe6f0;
}

.dhc-navbar {
    background-color:#ff76a3;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; 
}

.dhc-navbar .dhc-container-md {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.dhc-navbar-brand {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}
.dhc-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
    
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fc5b91;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff76a3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:#c2159cda;
}

/* Responsive Design */
@media (max-width: 768px) {
    .dhc-container {
        padding: 20px;
    }

    form input,
    form textarea {
        font-size: 0.9rem;
    }

    form button {
        font-size: 0.9rem;
    }
}